/* このメイン色を変えると雰囲気柄って変わるよ！！！！！！！！！！ */
:root {
    --main-color: #ffb81e; /* メインの色を設定 */
    --text-color: #fff; /* テキストの色を設定 */
}

/* body(全体) */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #000; /* 背景を黒に */
    color: var(--text-color); /* 文字色をカスタム変数に */
    align-items: center;
    width: 100%;
    height: 100vh;
    text-align: left;

}

/* ヘッダー */
.header {
    margin:20px;
    position: fixed;
    top:0;
    left:0;
}

/* hi!のとこ */
.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    width: 100%;
    height: 100%;
}

/* タイトル */
.title {
    font-size: 2em; /* タイトルを大きく */
    font-weight: bold;
    color: var(--text-color); /* 文字色をカスタム変数に */
    margin: 0;
}

/* highlightクラスのスタイル */
.highlight {
    color: black; /* 強調色をカスタム変数に */
    background-color: var(--main-color); /* 背景色をカスタム変数に */
    border-radius: 10px;
    margin-left: 5px;
}

/* contentクラスのスタイルを設定 */
.content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%; /* コンテナ全体を中央に配置 */
    width: 100%;
}

/* プロフィール画像 */
.profile-pic {
    width: 400px;
    height: 400px;
    object-fit: cover; /* 円形を保つために画像を切り抜く */
    border-radius: 50%; /* 円形にする */
    box-shadow: 0 0 15px var(--main-color); /* グロー効果をカスタム変数に */
    transition: box-shadow 0.3s ease-in-out;
    margin-left: 50px;
}

/* ホバーエフェクト */
.profile-pic:hover {
    box-shadow: 0 0 25px var(--main-color), 0 0 50px var(--main-color), 0 0 75px var(--main-color); /* 強いネオン効果 */
}

/* プロフィールのテキスト */
.profile-text {
    text-align: right; /* テキストを右揃え、このrightをleftにすると左揃えになります。 */
    max-width: 600px; /* テキストの最大幅 */
    margin-right: 50px;
}

/* Intro */
.intro {
    font-size: 3em; /* イントロの大きさ */
    margin-bottom: 10px;
    color: var(--text-color); /* 文字色をカスタム変数に */
}

/* 名前 */
.name {
    font-size: 5em; /* 名前をの大きさ */
    font-weight: bold;
    margin: 10px 0;
    color: var(--text-color); /* 文字色をカスタム変数に */
}

/* 自己紹介文 */
.bio {
    font-size: 2em; /* 自己紹介文の大きさ */
    margin-bottom: 30px;
    color: var(--text-color); /* 文字色をカスタム変数に */
}

/*ゴミ広告*/
.ad {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;

    left: 0;
    width: 100%;
    height: 100%;
    animation: slideUp 3s ease-out forwards; /* アニメーションを追加 */
    bottom: 0;
}
.ad .ad-contents {
    width: 300px;
    text-align: right;
}
@keyframes slideUp {
    from {
        bottom: -100%; /* アニメーション開始時、広告は画面外に */
    }
    to {
        bottom: 0; /* アニメーション終了時、広告は画面の下端に */
    }
}

.ad-button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
        font-size: 8px;
}



/* 
　　　　　 　 ＿＿
　　　　 　／＞　　フ
　　　　　|  　_　 _ l
　 　　　／` ミ＿xノ
　　 　 /　　　 　 |
　　　 /　 ヽ　　 ﾉ
　 　 │　　|　|　|
　／￣|　　 |　|　|
　| (￣ヽ＿_ヽ_)__)
　＼二つ
*/
